annotated-types   
anyio              
Brotli            
certifi            
cffi               
charset-normalizer 
click              
colorama          
distlib            
dnspython          
fastapi           
filelock           
h11                
idna              
mutagen            
pip                
platformdirs       
pycparser          
pycryptodomex      
pydantic          
pydantic_core      
pymongo            
PyNaCl             
pypng              
python-dotenv      
python-multipart   
pywin32            
qrcode             
requests           
sniffio            
starlette          
typing_extensions 
typing-inspection 
urllib3            
uvicorn           
virtualenv         
websockets         
windows-curses     
yt-dlp             
